@import "../../common/color.scss";

.header {
  background-color: $secondary-color;
  height: 72px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.log {
  color: $font-primary;
  font-size: 20px;
  font-weight: 600;
}

.user-image,
.user-image img {
  width: 38px;
  height: 38px;
}

.search-bar {
  width: 50%;
  display: flex;
  justify-content: center;

  form {
    width: 70%;
    height: 38px;
    padding: 0 8px;
    display: flex;
    justify-content: center;

    button {
      height: 38px;
      font-size: 20px;
      padding: 0 8px;
      cursor: pointer;
    }
  }

  input {
    outline: none;
    font-size: 18px;
    width: 100%;
    padding: 5px 5px 5px 10px;
    cursor: pointer;
    height: 38px;
  }
}
